* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.pantry-box {
  border-radius: 1rem;
  border: 2px solid #5e3737;
}

.pantry-title {
  border-radius: 1rem 1rem 0 0;
  background-color: #efdcef;
  border-bottom: 2px solid #5e3737;
}

.pantry-items {
  border-radius: 0 0 1rem 1rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.search-add-box {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 55px;
}

.user-auth-btn-group {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
}

.__className_36bd41 {
  background-color: transparent;
}
